.elements__like-button_active {
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
  background-color: #fff;
  background-image: url("../../../images/like_active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 19px;
}
